circle.dot {
    fill: #060657;
}

rect.P1 {
    fill: hsl(0, 70%, 95%);
}

rect.P2 {
    fill: hsl(150, 70%, 95%);
}

rect {
    fill: transparent;
}

line.set-edge {
    stroke-width: 2px;
    stroke: #060657;
}

g.edge {
    stroke-width: 1px;
    stroke: hsl(200, 50%, 80%);
    stroke: transparent;
    cursor: pointer;
}

g.edge:hover {
    stroke: red;
    stroke-width: 3px;
}

g.edge line.active {
    stroke: transparent;
    stroke-width: 15px;
}
